#errorBox .exception {
    border: 1px gray solid;
    padding: 11px;
    font-size :12px;
    display: none;
}

#errorBox .exception.visible {
    display:block;
}

#errorBox .exception p {
	margin : 5px;
}

#errorBox, #errorBox .stackTrace {
	display: none;
}

#errorBox.visible, #errorBox .stackTrace.visible {
	display: block;
}

#errorBox .exception {
    display:none;
}

/*#errorBox.visible .exception{
    display: block;
}*/

div#errorBox {
    display: block;
    font-family: helvetica;
    width: 100%;
    bottom: 0px;
    position: fixed;
    /*max-height: 30%;*/
    max-height: 24px;
    overflow-y: hidden;
    -webkit-transition: max-height 0.2s;
    -moz-transition: max-height 0.2s;
    -ms-transition: max-height 0.2s;
    -o-transition: max-height 0.2s;
    transition: max-height 0.2s;
}

div#errorBox.visible {
    max-height: 40%;
    overflow-y: scroll;
}

div#errorBox.visible div.plopsToggleBox {
    display: block;
}

div.plopsToggleBox {
    display: none;
    position: absolute;
    padding: 3px 6px;
    right: 6px;
    background-color: white;
    border-top: 1px solid gray;
    font-family: sans-serif;
    /* border-radius: 6px; */
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#errorBox .titleBar p {
    font-size: 12px;
    margin: 0px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    padding-right: 12px;
    margin-left: 6px;
}

.titleBar p {
    background-color: rgb(240,240,240);
}

#errorBox .plopComment {
    background-color: lightgreen;
}

#errorBox .plopError {
    background-color: lightblue;
}

#errorBox .plopException {
    background-color: lightpink;
}

#errorBox .plopFatal {
    background-color: orange;
}

#errorBox .toggle.disabled {
    background-color: lightgray;
}