#errorBox .exception {
    border: 1px gray solid;
    padding: 11px;
    font-family: helvetica;
    font-size :12px;
}
#errorBox .exception p {
	margin : 5px
	;
}
#errorBox, #errorBox .stackTrace {
	display: none;
}
#errorBox.visible, #errorBox .stackTrace.visible {
	display: block;
}

div#errorBox {
    width: 100%;
    bottom: 0px;
    position: fixed;
    max-height: 30%;
    overflow-y: scroll;
}